* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.uppercase {
  text-transform: uppercase;
}

body {
  border-top: 5px solid #572ee5;
  border-bottom: 5px solid #572ee5;
}

.header,
.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 30px;
}

.burguer-menu {
  width: 1.5em;
}

.nav-ul {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.nav-ul li {
  list-style-type: none;
  margin-right: 40px;
  border-bottom: 2px solid transparent;
}

.nav-ul li:hover {
  border-bottom: 2px solid #5ed7c6;
}

.nav-ul li:active {
  border: none;
}

.nav-ul li:last-of-type {
  border: none;
}

.nav-ul li:last-of-type:hover {
  border: none;
}

.nav-ul a {
  color: #572ee5;
  text-decoration: none;
  font-weight: bold;
}

.nav-ul a:active {
  color: #9cafc3;
}

@media only screen and (min-width: 769px) {
  .burguer-menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    top: 85px;
    left: -100%;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: #572ee5;
    opacity: 0.9;
    text-align: center;
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
  }
  .nav-ul li {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 300px;
    padding: 1em 2em;
    list-style: none;
    border-bottom: 1px solid #fff;
  }
  .nav-ul li:last-of-type {
    border: none;
  }
  .nav-ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
  }
  .nav-ul li a .btn-create-gif {
    display: none;
  }
}

.title-container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #572ee5;
}

.title-container h1 span {
  color: #5ed7c6;
}

@media only screen and (min-width: 768px) {
  .title-container {
    margin-bottom: 40px;
  }
  .title-container h1 {
    font-size: 2.5em;
  }
}

.search-bar-container {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.search-bar-container .search-bar-img img {
  width: 80%;
  margin-bottom: -5px;
}

.search-bar-container .search-bar {
  color: #000;
  border: 1px solid #572ee5;
  border-radius: 25px;
  overflow: hidden;
}

.search-bar-container .search-bar .search-input {
  width: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.search-bar-container .search-bar .search-input input {
  padding: 15px 20px;
  width: 100%;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.search-bar-container .search-bar .search-input input::-webkit-input-placeholder {
  color: #9cafc3;
  text-transform: none;
}

.search-bar-container .search-bar .search-input input:-ms-input-placeholder {
  color: #9cafc3;
  text-transform: none;
}

.search-bar-container .search-bar .search-input input::-ms-input-placeholder {
  color: #9cafc3;
  text-transform: none;
}

.search-bar-container .search-bar .search-input input::placeholder {
  color: #9cafc3;
  text-transform: none;
}

.search-bar-container .search-bar .search-input .search-icon {
  position: absolute;
  right: 3%;
}

.search-bar-container .search-bar .autocomplete-box {
  text-align: left;
  text-transform: capitalize;
}

.search-bar-container .search-bar .autocomplete-box .autocomplete-results-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 0.8em;
}

.search-bar-container .search-bar .autocomplete-box .autocomplete-results-list li {
  padding: 5px 15px;
  text-indent: -1em;
  color: #9cafc3;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search-bar-container .search-bar .autocomplete-box .autocomplete-results-list li:hover {
  background-color: #f3f5f8;
}

.search-bar-container .search-bar .autocomplete-box .autocomplete-results-list li img {
  width: 13px;
  margin-right: 25px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media only screen and (min-width: 768px) {
  .search-bar-container .search-bar-img img {
    width: 35%;
    margin-bottom: -4px;
  }
  .search-bar {
    margin: 0 auto;
    width: 50%;
  }
}

.trending-categories, .trending-gifos {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.trending-categories h3, .trending-gifos h3 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.trending-categories span, .trending-gifos span {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 5px;
}

.trending-categories span:last-of-type, .trending-gifos span:last-of-type {
  margin-right: 0;
}

.trending-categories span:hover, .trending-gifos span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.trending-categories span:active, .trending-gifos span:active {
  color: #9cafc3;
}

.gifs-results,
.btn {
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
}

.gifs-results {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.gifs-results h4 {
  text-transform: capitalize;
  font-size: 1.56em;
  margin-bottom: 20px;
}

.gifs-results .gifs-results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 30px;
}

.gifs-results .gifs-results-container img {
  margin-bottom: 5px;
  width: 48%;
  height: 150px;
}

.gifs-results .btn {
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 40px;
  background-color: #fff;
  border: 1px solid #572ee5;
  border-radius: 35px;
  outline: none;
}

.gifs-results .btn:hover {
  background-color: #572ee5;
  color: #fff;
  cursor: pointer;
}

.gifs-results .btn:active {
  background-color: #9cafc3;
}

@media only screen and (min-width: 768px) {
  .gifs-results .gifs-results-container img {
    width: 23%;
    height: 250px;
    margin-bottom: 10px;
  }
}

.trending-gifos {
  background-color: #f3f5f8;
  padding: 40px 0;
}

.trending-gifos h2 {
  margin-bottom: 15px;
  font-size: 1.25em;
}

.trending-gifos p {
  color: #000;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.trending-gifos .gifs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.trending-gifos .gifs-container img {
  margin: 0 auto;
  width: 357px;
  height: 357px;
}

footer,
.social-media,
.social-media p {
  margin-bottom: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

footer p {
  font-size: 0.9em;
}

footer .social-media p {
  font-size: 1em;
}

footer .social-media .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-media .icons img {
  margin-right: 25px;
}

footer .social-media .icons img:last-of-type {
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 0;
  }
  footer .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .social-media p {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
