* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.uppercase {
  text-transform: uppercase;
}

.header,
.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 30px;
}

.burguer-menu {
  width: 1.5em;
}

.nav-ul {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.nav-ul li {
  list-style-type: none;
  margin-right: 40px;
  border-bottom: 2px solid transparent;
}

.nav-ul li:hover {
  border-bottom: 2px solid #5ed7c6;
}

.nav-ul li:active {
  border: none;
}

.nav-ul li:last-of-type {
  border: none;
}

.nav-ul li:last-of-type:hover {
  border: none;
}

.nav-ul a {
  color: #572ee5;
  text-decoration: none;
  font-weight: bold;
}

.nav-ul a:active {
  color: #9cafc3;
}

@media only screen and (min-width: 767px) {
  .burguer-menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    top: 80px;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #572ee5;
    opacity: 0.9;
    text-align: center;
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
  }
  .nav-ul li {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 300px;
    padding: 1em 2em;
    list-style: none;
    border-bottom: 1px solid #fff;
  }
  .nav-ul li:last-of-type {
    border: none;
  }
  .nav-ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
  }
  .nav-ul li a .btn-create-gif {
    display: none;
  }
}

.title-container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #572ee5;
}

.title-container h1 span {
  color: #5ed7c6;
}

.search-bar-container {
  text-align: center;
}

.search-bar-container .search-bar-img img {
  width: 80%;
}

.search-bar-container .search-bar input {
  width: 90%;
  padding: 15px 40px;
  border: 1px solid #572ee5;
  border-radius: 25px;
}
