.gifs-creation-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77.9vh;
  margin: -70px 0 70px 0;

  .camera-images {
    display: flex;
    align-items: center;
    flex-basis: 1%;
  }
}

.main-column {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: fill;
  .outer-frame {
    margin: 0 auto;
    border: 2px solid $purple;
    padding: 10px;
    flex-basis: 60%;
    margin-bottom: 15px;

    .inner-frame {
      border: 1px solid $green;
      padding: 0px 80px 80px 80px;
      text-align: center;

      img {
        height: 360px;
        width: 640px;
      }

      h3 {
        font-family: $montserrat;
        font-size: 25px;
        font-weight: 700;
        color: $purple;
        margin-bottom: 5px;
      }

      p {
        font-family: $roboto;
      }
    }
  }

  .numbers {
    text-align: center;
    font-family: $roboto;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    .pagination {
      flex-basis: 100%;
      margin-right: -50px;
    }
    .number {
      color: $purple;
      border: 1px solid $purple;
      border-radius: 50%;
      padding: 3px 8px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .number-active {
      color: #fff;
      background-color: $purple;
    }

    .seconds {
      color: $purple;
      text-align: right;
      display: none;
    }
  }

  .line {
    height: 5px;
    background-color: $purple;
    width: 100%;
    border-radius: 25%;
    margin-bottom: 20px;
  }

  .btn {
    margin: 0 auto;
    padding: 15px 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: $purple;
    background-color: #fff;
    border: 1px solid $purple;
    border-radius: 35px;
    outline: none;
    &:hover {
      background-color: $purple;
      color: #fff;
      cursor: pointer;
    }
    &:active {
      background-color: $active;
    }
  }

  #btn-record,
  #btn-stop-record,
  #btn-upload {
    display: none;
  }
}

img.movie-image {
  position: relative;
  top: 20%;
  left: 2%;
}

#green-word {
  color: $green;
  text-transform: uppercase;
}
