* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.uppercase {
  text-transform: uppercase;
}

body {
  border-top: 5px solid $purple;
  border-bottom: 5px solid $purple;
}

.hide {
  display: none;
}
