.header,
.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 30px;
}

.burguer-menu {
  width: 1.5em;
}

.nav-ul {
  font-family: $montserrat;
  font-size: 1em;

  li {
    list-style-type: none;
    margin-right: 40px;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $green;
    }

    &:active {
      border: none;
    }

    &:last-of-type {
      border: none;
    }
  }

  a {
    color: $purple;
    text-decoration: none;
    font-weight: bold;

    &:active {
      color: $active;
    }

    i {
      font-size: 16px;
      border: 1px solid $purple;
      border-radius: 50%;
      padding: 18px;

      &:hover {
        color: #fff;
        background: $purple;
      }

      &:active {
        background-color: $active;
      }
    }
  }
}

#current-page {
  color: #9cafc3;
}

#mis-gifs {
  background-color: $active;
  color: #fff;
  border: none;
}

@media only screen and (min-width: 769px) {
  .burguer-menu {
    display: none;
  }
}

@media only screen and (min-width: $min-desktop) {
  .header {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: $min-desktop) {
  .nav-ul {
    justify-content: flex-start;
    flex-flow: column;
    position: absolute;
    top: 85px;
    left: -100%;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: $purple;
    opacity: 0.9;
    text-align: center;
    transition: 0.5s all ease-in;

    li {
      margin: 0 auto;
      margin-bottom: 1em;
      width: 300px;
      padding: 1em 2em;
      list-style: none;
      border-bottom: 1px solid #fff;

      &:last-of-type {
        border: none;
        display: none;
      }

      a {
        color: #fff;
        text-decoration: none;
        padding: 15px 30px;

        .btn-create-gif {
          display: none;
        }
      }
    }
  }
}
