.search-bar-container {
  text-align: center;
  margin-bottom: 30px;
  font-family: $roboto;
  .search-bar-img {
    img {
      width: 80%;
      margin-bottom: -5px;
    }
  }

  .search-bar {
    color: #000;
    border: 1px solid $purple;
    border-radius: 25px;
    overflow: hidden;

    .search-input {
      width: 90%;
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 auto;

      input {
        padding: 15px 20px;
        width: 100%;
        border: none;
        outline: none;
        text-transform: capitalize;
        &::placeholder {
          color: $active;
          text-transform: none;
        }
      }
      .search-icon {
        position: absolute;
        right: 3%;
      }
    }

    .autocomplete-box {
      text-align: left;
      text-transform: capitalize;

      .autocomplete-results-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        font-size: 0.8em;

        li {
          padding: 5px 15px;
          text-indent: -1em;
          color: $active;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            background-color: #f3f5f8;
          }

          img {
            width: 13px;
            margin-right: 25px;
            order: -1;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $min-desktop) {
  .search-bar-container {
    .search-bar-img {
      img {
        width: 35%;
        margin-bottom: -4px;
      }
    }
  }

  .search-bar {
    margin: 0 auto;
    width: 50%;
  }
}
