.trending-gifos {
  color: $purple;
  font-family: $montserrat;
  text-align: center;
  margin-bottom: 30px;
  background-color: #f3f5f8;
  padding: 40px 0;
  h2 {
    margin-bottom: 15px;
    font-size: 1.25em;
  }
  p {
    color: #000;
    font-family: $roboto;
    margin-bottom: 30px;
  }
  .trending-gifs-container {
    display: flex;

    .gif-container {
      margin-right: 3px;
    }
  }
}

@media only screen and (min-width: $min-desktop) {
  .trending-gifs-container {
    justify-content: space-around;
    .gif-container {
      width: 380px;
      height: 380px;
      .gif-overlay {
        .gif-info {
          top: 73%;
        }
      }
    }
  }
}
