$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$purple: #572ee5;
$green: #5ed7c6;
$dark-light-bg: #37383c;
$white: #fff;
$active: #9cafc3;
$social-icons: #cdd6e0;
$max-mobile: 767px;
$min-desktop: 768px;
